
/* 通用样式 */
.test{
    width:83%;
    margin:0 auto;
    padding-bottom: 15px;
}
.test ul{list-style:none;}
.test li{float:left;padding-left: 5px;font-size: 16px;}
.test li a{ 
    text-decoration:none;
    color: black;

}


#head-hr{
    background-color: red;
    height: 2px;
}

#bottom-hr{
    display: block;
}
#bottom-line{
    margin-left: 9.5%;
    margin-right: 9.5%;
    }

/* 导航栏 */
.head{
    width:80%;
    margin:auto;
    padding-top: 30px;
    overflow: hidden;
    background:rgb(248,248,248);
}
.logo{
    float: left;
}
.right{
    float: right;
}
.right img{
    float: left;
}
.right input{
    float: left;
    width: 228px;
    height: 27px;
    border: none;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}
.right span{
    float: left;
    font-size: 14px;
    margin: 0 12px;
    color: #555555;

}

    
.Clear{
    clear:both;
}

/* 首页布局 */
.container{
   width:80%;
   margin:0 auto;/*设置整个容器在浏览器中水平居中*/
}

.content-left{
    width: 50%;
    float: left;
}
.content-right{
    width: 47%;
    float: right;
}

.ocntent-right-lunbo{
    height: 300px;
}

.content-left-articles{
 /*   padding-top: 20px; */
}

.content-left-title{
    padding-top: 23px;
    padding-bottom: 5px;
}
.content-left-title-p{
    font-size: 8px;
    line-height:20px;
}

.content-left-preview{
    margin-top: 35px;
}

#middle-logo{
    padding-top: 35px;
    padding-bottom: 35px;
}

.bottom-left-preview{
    margin-bottom: 22px;
    width: 47%;
    float: left;
}

.bottom-right-preview{
    margin-bottom: 22px;    
    width: 47%;
    float: right;
}

.bottom-label{
    margin-bottom: 15px;
}

.label-span1{
    margin-right: 8px;
    color: blue;
    font-weight: bolder;
}

.label-span2{
    margin-right: 8px;
    color: red;
    font-weight: bolder;
}

.bottom-left-preview-botton{
    margin-top: 15px;
    margin-bottom: 8px;
}



/*   展示页布局   */

.show-left{
    float: left;
    width: 66%;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;

}

.show-left-pic{
    margin-bottom: 30px;

}

#show-left-pic a img{
    width: 100%;
    height:  100%;
}

.show-left1{
    float: left;
    width: 50%;
    padding-right: 10px;
}

.show-left-article{
    margin-bottom: 20px;
}

.show-left-article h4{
    color: red;
    font-weight: 200;
    margin-bottom: 8px;
}

.show-left-article p{
    font-size: 12px;
}

.show-left2{
    width: 50%;
    padding-right: 10px;
}

.content-left-preview h4{
    color: red;
    font-weight: 200;
}

.show-left3{
    float: right;
    width: 46%;
}

.show-left3-pic img{
    margin-bottom: 20px;
    width: 100%;
    height:  100%;
}

.show-right{
    padding-top: 10px;
    float: right;
    width: 29%;
}

.show-right1{

}

.show-right2{
    margin-top: 28px;
    height: 270px;
}

.show-right3{
    padding-top: 12px;
}

.title-span1{
    width: 50px;
    margin-right: 25px;
}

.title-span2{
    width: 50px;
    margin-left: 25px;
}
.show-right1 p{
    display: inline;
    font-size: 18px;
    font-weight: 400;
}

.right1-title{
    margin-bottom: 15px;
}

.right1-pic{
    height: 150px;
}

.right1-pic img{
    height: 100%;
    width:  100%;
}

.show-right2 img{
    height: 100%;
    width:  100%;
}

.right1-article{
    margin-top: 20px;
}

.right1-article .show-left-article p{
    font-size: 12px;
}

.show-right3 a{
    text-align:  center;
}

.right3-list{
    margin-top: 7px;
    margin-right: 5px;
    margin-right: 5px;
}

.list-line{
    margin-bottom: 3px;
}

.right3-list-article{
    float: left;
    width: 48%;
}

.right3-list-pic{
    float: right;
    width: 48%;
}
